@charset "UTF-8";
/*Importación partials*/ /*Borrar márgenes por default*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=DM+Serif+Text&family=Dancing+Script&family=Lato&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Borrar viñeta en listas no ordenadas*/
ul li {
  list-style-type: none;
}

/*Borrar subrayado en links*/
a {
  text-decoration: none;
}

/*Scroll*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*Body*/
.body {
  position: relative;
}

/*Fonts
Google Fonts:
font-family: 'Alegreya', serif; -->Para Quienes Somos y Contacto
font-family: 'Dancing Script', cursive;  --> Para Nosotros, Servicios y Equipo
font-family: 'DM Serif Text', serif;  -->Título de cada provincia
font-family: 'Lato', sans-serif; --> textos generales y formulario de contacto*/
/*4*/
/*Colores*/
/*21*/
#contacto__portada, #nosotros__portada {
  background-color: #4b134f;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
}

#contacto__portada h1, #nosotros__portada h1 {
  color: #ffffff;
  font-family: "Alegreya";
  margin-left: 1vw;
}

.conteiner__doble { /*Para margen superior en cards*/
  margin-top: 5vh;
}

.titulo_carrusel { /*Para todos los carruseles*/
  font-size: 30px;
}

.titulo_cards { /*Para todos los cards de provincias*/
  font-family: "DM Serif Text";
  font-size: 35px;
}

.parrafo { /*Para todos los párrafos*/
  font-family: "Lato";
  font-size: 20px;
  color: black;
}

@media only screen and (max-width: 768px) {
  .parrafo {
    font-size: 15px;
  }
}
.backg_1 {
  background-color: #155E54;
}

.backg_2 {
  background-color: #ff7800;
}

.backg_3 {
  background-color: rebeccapurple;
}

.backg_4 {
  background-color: #c6df3c;
}

.backg_5 {
  background-color: #3b5998;
}

.backg_6 {
  background-color: #c94b4b;
}

.titulo__ofertas__grey {
  font-family: "DM Serif Text";
  font-size: 2rem;
}

.ofertas__grey {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: #333;
  padding: 25px;
  color: #ffffff;
  width: 100vw;
}
.ofertas__grey img {
  padding-top: 5px;
  width: 90%;
}

/*Botones*/
/*Boton de "subir"*/
.boton {
  position: sticky;
  bottom: 1vh;
}
.boton a {
  border-color: #4b134f;
  background-color: #ffffff;
}
.boton a:hover {
  background-color: #f7971e;
}

/*Header (general excepto Index*/
#navbar__width {
  width: 100vw;
  min-width: 100%;
  padding: 0;
  margin: 0;
}

/*Fin Header*/
/*Footer*/
footer {
  background: #333;
}
footer .footer-wrap {
  padding-top: 43px;
  background-size: cover;
}
footer .footer-wrap h3 {
  color: #ffffff;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 25px;
}
footer .footer-wrap p {
  font-size: 13px;
  line-height: 24px;
  color: #b3b3b3;
  margin-top: 15px;
}
footer .footer-wrap p a {
  color: #ffffff;
  text-decoration: underline;
  font-style: italic;
}
footer .footer-wrap p a:hover {
  text-decoration: none;
  color: #ff7800;
}
footer .footer-wrap .first_class {
  padding-bottom: 21px;
  border-bottom: 1px solid #444;
}
footer .footer-wrap .first_class p, footer .footer-wrap .first_class h3 {
  margin: 0 0;
}
footer .footer-wrap .second_class {
  border-bottom: 1px solid #444;
  padding-bottom: 25px;
}
footer .newsletter input[type=text] {
  width: 100%;
  background: #ffffff;
  color: #333;
  border: 1px solid #222;
  padding: 14px 20px;
  border-radius: 50px;
  margin-top: 12px;
}
footer .newsletter .newsletter_submit_btn {
  background: #ffffff;
  position: absolute;
  right: 10%;
  border: 0;
  top: 26px;
  font-size: 17px;
  color: #333;
}
footer .second_class_bdr {
  padding-top: 25px;
  border-top: 1px solid #222;
}
footer .btn-facebook a {
  padding: 6px 14px !important;
}
footer .btn-envelop a {
  color: #D6403A;
  font-size: 15px;
  padding: 12px 12px;
}
footer .round-btn {
  box-shadow: 2px 2px 5px 0px #222 !important;
  margin: 15px 4px;
}
footer .round-btn a {
  padding: 6px 12px;
}
footer dl, footer ol, footer ul {
  padding-left: 5px;
}
footer li {
  list-style: none;
}
footer .standard_social_links {
  margin-left: 14vw;
}
footer .standard_social_links .btn-facebook a {
  color: #3b5998;
  padding: 8px 13px;
}
footer .standard_social_links .btn-instagram a {
  color: #dd3f5c;
}
footer .standard_social_links .btn-whatsapp a {
  color: #155E54;
}
footer .standard_social_links .btn-envelop a {
  color: #D6403A;
  font-size: 15px;
  padding: 9px 12px;
}
footer .enlace:hover:after {
  content: "✈️";
}

.footer-links li a {
  font-size: 13px;
  line-height: 30px;
  color: #ccc;
  text-decoration: none;
}

.footer-links li:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding-right: 10px;
  color: #ccc;
}

.footer-category li a {
  font-size: 13px;
  line-height: 30px;
  color: #ccc;
  text-decoration: none;
}

.footer-category li:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding-right: 10px;
  color: #b3b3b3;
}

.copyright {
  font-size: 14px;
  color: #ccc;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}

.round-btn {
  display: inline;
  height: 40px;
  width: 40px;
  background: #ffffff;
  border-radius: 50%;
  float: left;
  margin: 15px 8px;
  box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);
  border: 1px solid; /*border: 1px solid #622657;*/
}
.round-btn a {
  display: block !important;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 50%;
}
.round-btn .icon {
  padding: 3px;
}
.round-btn .icon img {
  height: 24px;
  width: 32px;
  margin-top: 6px;
}

.standard_header .standard_social_links {
  margin-left: 1rem;
}

@media (max-width: 768px) {
  .footer-wrap h3 {
    margin-top: 27px;
  }
  footer .round-btn {
    margin: 15px 4px;
  }
}
@media (max-width: 320px) {
  .copyright {
    font-size: 13px;
  }
}
/*Fin @medias Footer*/
/*Fin Footer*/
/*Index*/
.conteiner {
  width: 100vw;
  min-width: 100%;
}

section div .conteiner {
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  min-height: 100%;
}

.body__index {
  font-family: "Playfair Display", serif;
  font-size: 50%;
  overflow-x: hidden;
}

#color__menu {
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  min-height: 100%;
  margin-left: 0;
  padding-left: 0;
  position: relative;
  background: #f7971e;
  background: -webkit-linear-gradient(to right, #ffd200, #f7971e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd200, #f7971e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  color: #ffffff;
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);
  z-index: 100;
  transform: translateX(110%);
  transition: transform 0.5s ease;
}
.menu_overlay .fas {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 1.5 rem;
  transition: all 0.3s ease;
}
.menu_overlay .fas:hover {
  color: #4b134f;
  transform: scale(1.1) rotate(180deg);
}
.menu_overlay ul {
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 20px;
  margin-left: 100px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}
.menu_overlay ul a {
  color: #ffffff;
  text-decoration: none;
}
.menu_overlay ul a:hover {
  color: #c6df3c;
}

.regiones {
  margin-left: 0px;
}

#menuBtn {
  display: none;
}
#menuBtn:checked ~ .menu_overlay {
  transform: translateX(0);
}

.landing_page {
  max-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}
.landing_page .menu {
  position: absolute;
  right: 20px;
  top: 20px;
}

.fas {
  font-size: 2rem;
  color: #222;
}
.fas:hover {
  color: #4b134f;
}

.main_text {
  color: #c94b4b;
  position: absolute;
  left: 50%;
  top: 50%;
  text-shadow: 0 0 1px #111;
  display: flex;
  flex-direction: column;
}

.main_text {
  color: #c94b4b;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 1px #111;
  display: flex;
  flex-direction: column;
}

.h2-r,
.h2-l {
  font-size: 4rem;
}

.h2-r {
  transform: rotate(-10deg);
  margin-left: 50px;
  z-index: 100;
}

.h2-l {
  margin-left: 100px;
  background-color: #4b134f;
  padding: 20px;
  z-index: 0;
}

.side_text {
  height: 10vh;
  width: 60%;
  color: #c94b4b;
  position: absolute;
  left: 0px;
  bottom: 20px;
  text-shadow: 0 0 1px #111;
  padding: 10px;
  font-size: 16px;
  color: #4b134f;
}

/*@medias para el Index - pantalla mobile*/
@media screen and (max-width: 480px) {
  .h2-r,
.h2-l {
    font-size: 2.5rem;
  }
  .h2-r {
    transform: rotate(0deg);
  }
  .menu_overlay ul {
    margin-left: 0px;
    text-align: right;
    justify-content: center;
    align-items: flex-start;
  }
  .regiones {
    margin-left: -10px;
    line-height: 45px;
  }
}
/*@medias para Index - pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .list a {
    font-size: 2rem;
  }
  .menu_overlay ul {
    margin-left: 0px;
    text-align: right;
    justify-content: center;
    align-items: flex-start;
  }
  .regiones {
    margin-left: -10px;
    line-height: 45px;
  }
}
/*Fin @medias index*/
/*Fin Index*/
/*Nosotros*/
.sub__title {
  font-family: "Dancing Script";
}

.nosotros__main {
  background: #f7971e;
  background: -webkit-linear-gradient(to right, #ffd200, #f7971e);
  background: linear-gradient(to right, #ffd200, #f7971e);
}

.historia {
  justify-content: center;
  align-self: center;
}

.servicios {
  justify-content: center;
  align-self: center;
}

/*Hover de Historia y Servicios*/
.artboard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 4rem;
  height: 20%;
  position: relative;
  margin-top: 5vh;
}
@media (max-width: 37.5em) {
  .artboard .artboard {
    padding: 1rem;
  }
}

.nosotros__card {
  flex: initial;
  position: relative;
  height: 30rem;
  width: 48rem;
  -moz-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;
}
.nosotros__card:hover .nosotros__card__side--back {
  transform: rotateY(0);
}
.nosotros__card:hover .nosotros__card__side--front {
  transform: rotateY(-180deg);
}

.nosotros__card__side {
  height: 30rem;
  transition: all 2s ease;
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}

.nosotros__card__side--front {
  background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}

.nosotros__card__side--back {
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.nosotros__card__theme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 54%;
  width: 90%;
  text-align: center;
}
.nosotros__card__theme .nosotros__card__theme-box {
  color: #ffffff;
  margin-bottom: 8rem;
}

.nosotros__card__cover {
  position: relative;
  background-size: cover;
  height: 6rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to top right, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}
.nosotros__card__cover .nosotros__card__heading {
  text-align: center;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}
.nosotros__card__cover .nosotros__card__heading .nosotros__card__heading-span {
  font-size: 2.2rem;
  font-weight: 300;
  padding: 1rem 1.5rem;
  color: #ffffff;
}

.nosotros__card__details {
  padding: 1rem 2rem;
}
.nosotros__card__details ul {
  list-style: none;
  width: 90%;
  margin: 0vw;
}
.nosotros__card__details ul li {
  list-style-type: square;
  list-style-position: inside;
  font-size: 25px;
}

/*Fin Hover Historia y Servicios*/
.equipo {
  margin-top: 18vh;
  line-height: 10vh;
  text-align: center;
}
.equipo h2 {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #ffffff;
}
.equipo p {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 50px;
  color: #ffffff;
}

/*@medias NOSOTROS - para pantalla mobile*/
@media screen and (max-width: 480px) {
  .nosotros__card {
    height: auto;
    border-radius: 3px;
    background-color: #ffffff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    width: 80vw;
    margin-left: -10vw;
  }
  .nosotros__card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .nosotros__card__side--back {
    transform: rotateY(0);
    width: 80vw;
  }
  .nosotros__card__side--front {
    display: none;
  }
  .nosotros__card__details {
    padding: 0rem 1rem;
  }
  .nosotros__card__details ul li {
    font-size: 15px;
  }
  .equipo {
    display: block;
  }
  .equipo h2 {
    font-size: 30px;
  }
  .equipo .img__equipo {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
/*@medias para NOSOTROS - pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nosotros__card {
    margin-left: 0vw;
    height: 60vh;
  }
  .nosotros__card__side {
    height: 60vh;
  }
  .nosotros__card__details ul li {
    font-size: 20px;
  }
}
/*Fin @medias nosotros*/
/*Fin Nosotros*/
/*NORTE*/
.comic {
  display: flex;
  flex-wrap: wrap;
  font-family: "Comic Sans", cursive;
  padding: 1vmin;
}
.comic .panel {
  background-color: #ffffff;
  border: solid 2px #111;
  box-shadow: 0 6px 6px -6px #111;
  display: inline-block;
  flex: 1 1;
  height: 200px;
  margin: 1vmin;
  overflow: hidden;
  position: relative;
}
.comic .panel .speech {
  background-color: #ffffff;
  border: solid 2px #111;
  border-radius: 12px;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em 1em;
  position: relative;
}
.comic .panel .speech:before {
  border: solid 12px transparent;
  border-left: solid 12px #111;
  border-top: solid 12px #111;
  bottom: -24px;
  content: "";
  height: 0;
  left: 24px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}
.comic .panel .speech:after {
  border: solid 10px transparent;
  border-left: solid 10px #ffffff;
  border-top: solid 10px #ffffff;
  bottom: -19px;
  content: "";
  height: 0;
  left: 27px;
  position: absolute;
  transform: skew(-15deg);
  width: 0;
}

.text {
  background-color: #ffffff;
  border: solid 2px #111;
  margin: 0;
  padding: 3px 10px;
}

.top-left {
  left: -6px;
  position: absolute;
  top: -2px;
  transform: skew(-15deg);
}

.bottom-right {
  bottom: -2px;
  position: absolute;
  right: -6px;
  transform: skew(-15deg);
}

.panel:nth-child(1) {
  flex-basis: 400px;
}

.panel:nth-child(2) {
  flex-basis: 200px;
}

.panel:nth-child(3) {
  flex-basis: 200px;
}

.panel:nth-child(4) {
  flex-basis: 200px;
}

.panel:nth-child(5) {
  flex-basis: 200px;
}

.panel:nth-child(6) {
  flex-basis: 200px;
}

.panel:nth-child(7) {
  flex-basis: 400px;
}

.panel:nth-child(8) {
  flex-basis: 200px;
}

.panel:nth-child(9) {
  flex-basis: 200px;
}

/* background colours */
.panel:nth-child(4n+1) {
  background-image: radial-gradient(circle, #ffd200, #f7971e);
}

.panel:nth-child(4n+2) {
  background-image: radial-gradient(circle, #ff7800, #D6403A);
}

.panel:nth-child(4n+3) {
  background-image: radial-gradient(circle, #c94b4b, rgb(82, 0, 67));
}

.panel:nth-child(4n+4) {
  background-image: radial-gradient(circle, #3b5998, #155E54);
}

#jujuy {
  background-color: #f7971e;
  padding: 5%;
}
#jujuy h2 {
  margin-top: 10vh;
}

/*@medias NOA - pantalla mobile*/
@media only screen and (max-width: 480px) {
  .no__mostrar {
    display: none;
  }
}
/*@medias NOA - para pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .no__mostrar {
    display: none;
  }
}
/*Fin @medias NOA*/
/*Fin NOA*/
/*LITORAL*/
.video {
  display: flex;
  justify-content: center;
  background-color: #111;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

video {
  border-radius: 10%;
}

#entre__rios {
  padding: 5%;
}
#entre__rios h2 {
  margin-top: 10vh;
}

/*@medias LITORAL*/
/*Fin @medias LITORAL*/
/*Fin Litoral*/
/*CENTRO*/
.flexing {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
@media screen and (min-width: 1000px) {
  .flexing {
    flex-direction: row;
  }
}

.section {
  flex: 1;
  position: relative;
  transition: 0.5s ease;
}
.section--yellow {
  background-color: #f7971e;
}
.section--pink {
  background-color: rgba(202, 55, 130, 0.65);
}
.section--green {
  background-color: #155E54;
}
.section--orange {
  background-color: #ff7800;
}
.section--grey {
  background-color: #ccc;
}
.section--blue {
  background-color: #3b5998;
}
.section:hover, .section:active, .section:focus {
  flex: 3;
}
.section:hover .title, .section:active .title, .section:focus .title {
  transform: translate(-50%, -50%) rotate(0);
}
@media screen and (min-width: 1000px) {
  .section:hover .title, .section:active .title, .section:focus .title {
    transform: translate(-50%, -50%) scale(1.25);
  }
}
.section .title {
  font-family: "Fredoka One";
  font-size: 5rem;
  left: 50%;
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s ease;
}
.section .title a {
  color: #111;
}
@media screen and (min-width: 1000px) {
  .section .title {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

/*@medias CENTRO - pantalla mobile*/
/*@medias CENTRO - para pantalla tablet*/
/*Fin @medias CENTRO*/
/*Fin Centro*/
/*SUR*/
:root {
  --background-dark: #2d3548;
  --text-light: rgba(255, 255, 255, 0.6);
  --text-lighter: rgba(255, 255, 255, 0.9);
  --spacing-s: 8px;
  --spacing-m: 16px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
  --width-container: 1200px;
}

.sur__hero-section {
  align-items: flex-start;
  background-image: linear-gradient(15deg, #0f4667 0%, #2a6973 150%);
  display: flex;
  justify-content: center;
  padding: var(--spacing-xxl) var(--spacing-l);
}

.sur__card-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-column-gap: var(--spacing-l);
  grid-row-gap: var(--spacing-l);
  max-width: var(--width-container);
  width: 100%;
}

@media (min-width: 480px) {
  .sur__card-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 960px) {
  .sur__card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
.sur__card {
  list-style: none;
  position: relative;
}

.sur__card:before {
  content: "";
  display: block;
  padding-bottom: 150%;
  width: 100%;
}

.sur__card__background {
  background-size: cover;
  background-position: center;
  border-radius: var(--spacing-l);
  bottom: 0;
  filter: brightness(0.75) saturate(1.2) contrast(0.85);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transform-origin: center;
  transform: scale(1) translateZ(0);
  transition: filter 200ms linear, transform 200ms linear;
}

.sur__card:hover .sur__card__background {
  transform: scale(1.05) translateZ(0);
}

.sur__card-grid:hover > .sur__card:not(:hover) .sur__card__background {
  filter: brightness(0.5) saturate(0) contrast(1.2) blur(20px);
}

.sur__card__content {
  left: 0;
  padding: var(--spacing-l);
  position: absolute;
  top: 0;
}

.sur__card__category {
  color: var(--text-light);
  font-size: 0.9rem;
  margin-bottom: var(--spacing-s);
  text-transform: uppercase;
}

.sur__card__heading {
  color: var(--text-lighter);
  font-size: 1.9rem;
  text-shadow: 2px 2px 20px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  word-spacing: 100vw;
}

/*Destacado del mes*/
.animacion {
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: #f7971e;
  animation-name: animacion_destino;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-delay: 1s;
}

@keyframes animacion_destino {
  0% {
    width: 150px;
  }
  25% {
    width: 200px;
  }
  50% {
    width: 250px;
  }
  75% {
    width: 200px;
  }
  100% {
    width: 150px;
  }
}
/*@medias Sur - pantalla mobile*/
@media only screen and (max-width: 480px) {
  .animacion {
    display: none;
  }
}
/*Fin @medias SUR*/
/*Fin SUR*/
/*Contacto*/
.contacto__main {
  background: #f7971e;
  background: -webkit-linear-gradient(to right, #ffd200, #f7971e);
  background: linear-gradient(to right, #ffd200, #f7971e);
}

.formulario {
  width: 75vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  margin-left: 15%;
  font-family: "Lato";
  color: rebeccapurple;
  font-size: 20px;
}

input::placeholder {
  color: rgb(224, 220, 220);
  font-style: italic;
}

/*No @media needed :)*/
/*Fin Contacto*/

/*# sourceMappingURL=style.css.map */
