@charset "UTF-8";
/*Importación partials*/ /*Google Fonts:
font-family: 'Alegreya', serif; -->Para Quienes Somos y Contacto: class="font__alegreya"
font-family: 'Dancing Script', cursive;  --> Para Nosotros, Servicios y Equipo class="font__dancing"
font-family: 'DM Serif Text', serif;  -->Título de cada provincia class="font__dm"
font-family: 'Assistant', sans-serif; --> textos generales class="font__assistant"*/
@import url("https://fonts.googleapis.com/css2?family=Alegreya&family=Assistant:wght@200&family=DM+Serif+Text&family=Dancing+Script&display=swap");
.font__alegreya {
  font-family: "Alegreya", serif;
}

.font__dancing {
  font-family: "Dancing Script", cursive;
}

.font__dm {
  font-family: "DM Serif Text", serif;
}

.font__assistant {
  font-family: "Assistant", sans-serif;
}

p {
  font-family: "Assistant", sans-serif;
}

/*Index*/
.conteiner {
  width: 100vw;
  min-width: 100%;
}

section div .conteiner {
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  min-height: 100%;
}

.body__index {
  font-family: "Playfair Display", serif;
  font-size: 50%;
  overflow-x: hidden;
}

#color__menu {
  width: 100vw;
  min-width: 100%;
  height: 100vh;
  min-height: 100%;
  margin-left: 0; /*Correción .conteiner para que no genere borde a la izquierda*/
  padding-left: 0;
  position: relative;
  background: #f7971e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd200, #f7971e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd200, #f7971e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.menu_overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  overflow: hidden;
  color: #fff;
  background: #c94b4b;
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
  background: linear-gradient(to right, #4b134f, #c94b4b);
  z-index: 100;
  transform: translateX(110%);
  transition: transform 0.5s ease;
}

.menu_overlay .fas {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 1.5 rem;
  transition: all 0.3s ease;
}

.menu_overlay .fas:hover {
  color: #4b134f;
  transform: scale(1.1) rotate(180deg);
}

.menu_overlay ul {
  height: 100%;
  width: 100%;
  list-style: none;
  padding: 20px;
  margin-left: 100px;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.regiones {
  margin-left: 120px;
}

.menu_overlay a {
  color: #fff;
  text-decoration: none;
}

.menu_overlay a:hover {
  color: #c6df3c;
}

#menuBtn {
  display: none;
}

#menuBtn:checked ~ .menu_overlay {
  transform: translateX(0);
}

.landing_page {
  max-height: 100vh;
  height: 100%;
  width: 100%;
  position: relative;
}

.menu {
  position: absolute;
  right: 20px;
  top: 20px;
}

.fas {
  font-size: 2rem;
  color: #222;
}

.fas:hover {
  color: #4b134f;
}

.side_text {
  height: 10vh;
  width: 60%;
  color: #c94b4b;
  position: absolute;
  left: 0px;
  bottom: 20px;
  text-shadow: 0 0 1px #111;
  padding: 10px;
  font-size: 16px;
  color: #4b134f;
}

.main_text {
  color: #c94b4b;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 1px #111;
  display: flex;
  flex-direction: column;
}

.h2-r,
.h2-l {
  font-size: 6rem;
}

.h2-r {
  transform: rotate(0deg);
  margin-left: -100px;
  z-index: 100;
}

.h2-l {
  margin-left: 100px;
  background-color: #4b134f;
  padding: 20px;
  z-index: 0;
}

/*@medias para el Index - pantalla mobile*/
@media screen and (max-width: 480px) {
  .h2-r,
.h2-l {
    font-size: 3rem;
    margin-left: 0;
  }
  .menu_overlay ul {
    margin-left: 0px;
    text-align: right;
    justify-content: center;
    align-items: flex-start;
  }
  .regiones {
    margin-left: -10px;
    line-height: 45px;
  }
}
/*@medias para Index - pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .list a {
    font-size: 2rem; /*importado de la galería*/
  }
  .h2-r {
    font-size: 4rem;
    margin-left: -50px;
  }
  .h2-l {
    font-size: 4rem;
    margin-left: 0;
  }
  .menu_overlay ul {
    margin-left: 0px;
    text-align: right;
    justify-content: center;
    align-items: flex-start;
  }
  .regiones {
    margin-left: -10px;
    line-height: 45px;
  }
}
/*Fin @medias index*/
/*Fin Index*/
/*Footer*/
.round-btn {
  display: inline;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
  float: left;
  margin: 15px 8px;
  box-shadow: 2px 2px 5px 0px rgb(82, 0, 67);
  border: 1px solid; /*border: 1px solid #622657;*/
}

.round-btn a {
  display: block !important;
  padding: 7px 12px;
  font-size: 18px;
  border-radius: 50%;
}

.round-btn .icon {
  padding: 3px;
}

.round-btn .icon img {
  height: 24px;
  width: 32px;
  margin-top: 6px;
}

.btn-facebook a {
  color: #3b5998;
  padding: 8px 13px;
}

.btn-instagram a {
  color: #dd3f5c;
}

.btn-whatsapp a {
  color: #155E54;
}

.btn-envelop a {
  color: #D6403A;
  font-size: 15px;
  padding: 9px 12px;
}

.standard_header .standard_social_links {
  margin-left: 1rem;
}

.standard_social_links {
  margin-left: 14vw;
}

.footer-wrap {
  padding-top: 43px;
  background-size: cover;
}

.footer-wrap h3 {
  color: #fff;
  font-size: 17px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.footer-wrap p {
  font-size: 13px;
  line-height: 24px;
  color: #b3b3b3;
  margin-top: 15px;
}

.footer-wrap p a {
  color: #fff;
  text-decoration: underline;
  font-style: italic;
}

.footer-wrap p a:hover {
  text-decoration: none;
  color: #ff7800;
}

.footer-links li a {
  font-size: 13px;
  line-height: 30px;
  color: #ccc;
  text-decoration: none;
}

.footer-links li:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding-right: 10px;
  color: #ccc;
}

.footer-category li a {
  font-size: 13px;
  line-height: 30px;
  color: #ccc;
  text-decoration: none;
}

.footer-category li:before {
  content: "\f105";
  font-family: "FontAwesome";
  padding-right: 10px;
  color: #b3b3b3;
}

.address {
  color: #b3b3b3;
  font-size: 14px;
  position: relative;
  padding-left: 30px;
  line-height: 30px;
}

.address:before {
  content: "\f277";
  font-family: "FontAwesome";
  position: absolute;
  top: 0;
  left: 0;
}

.info a {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.fa-phone:before {
  content: "\f095";
}

.info a {
  color: #b3b3b3;
  font-size: 14px;
  line-height: 30px;
  font-weight: normal;
}

.copyright {
  font-size: 14px;
  color: #ccc;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 15px;
}

footer .second_class {
  border-bottom: 1px solid #444;
  padding-bottom: 25px;
}

footer .first_class {
  padding-bottom: 21px;
  border-bottom: 1px solid #444;
}

footer .first_class p, footer .first_class h3 {
  margin: 0 0;
}

footer {
  background: #333;
}

footer .newsletter input[type=text] {
  width: 100%;
  background: #fff;
  color: #333;
  border: 1px solid #222;
  padding: 14px 20px;
  border-radius: 50px;
  margin-top: 12px;
}

.newsletter .newsletter_submit_btn {
  background: #fff;
  position: absolute;
  right: 10%;
  border: 0;
  top: 26px;
  font-size: 17px;
  color: #333;
}

footer .second_class_bdr {
  padding-top: 25px;
  border-top: 1px solid #222;
}

footer .btn-facebook a {
  padding: 6px 14px !important;
}

footer .btn-envelop a {
  color: #D6403A;
  font-size: 15px;
  padding: 12px 12px;
}

footer .round-btn a {
  padding: 6px 12px;
}

footer .round-btn {
  box-shadow: 2px 2px 5px 0px #222 !important;
}

footer .round-btn {
  margin: 15px 4px;
}

footer dl, ol, ul {
  padding-left: 5px;
}

footer li {
  list-style: none;
}

.enlace:hover:after {
  content: "✈️";
}

@media (max-width: 768px) {
  .footer-wrap h3 {
    margin-top: 27px;
  }
  footer .round-btn {
    margin: 15px 4px;
  }
}
@media (max-width: 320px) {
  .copyright {
    font-size: 13px;
  }
}
/*Fin @medias Footer*/
/*Fin Footer*/
/*Nosotros*/
#nosotros__portada {
  background-color: #4b134f;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
}

#nosotros__portada h1 {
  color: white;
}

.nosotros__main {
  background: #f7971e;
  background: -webkit-linear-gradient(to right, #ffd200, #f7971e);
  background: linear-gradient(to right, #ffd200, #f7971e);
}

.nosotros__main__grid {
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
  grid-template-columns: 2fr 1fr;
}

.historia {
  justify-content: center;
  align-self: center;
}

/*Hover de Historia y Servicios*/
.artboard {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  height: 20%;
  position: relative;
  margin-top: 5vh;
}

@media (max-width: 37.5em) {
  .artboard {
    padding: 1rem;
  }
}
.card {
  flex: initial;
  position: relative;
  height: 25rem;
  width: 48rem;
  -moz-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;
}

.card__side {
  height: 25rem;
  transition: all 2s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  /* We don't want to see the back part of the element. */
  backface-visibility: hidden;
  /* We don't want to see the back part of the element. */
  border-radius: 3px;
  overflow: hidden;
  /* The image is overflowing the parent. */
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}

.card__side--front {
  background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}

.card__side--back {
  background-color: #fff;
  transform: rotateY(180deg);
}

.card:hover .card__side--back {
  transform: rotateY(0);
}

.card:hover .card__side--front {
  transform: rotateY(-180deg);
}

.card__theme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 54%;
  width: 90%;
  text-align: center;
}

.card__theme-box {
  color: #fff;
  margin-bottom: 8rem;
}

.card__title {
  text-transform: uppercase;
  font-size: 6rem;
  font-weight: 100;
}

.card__cover {
  position: relative;
  background-size: cover;
  height: 6rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to top right, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}

.card__heading {
  text-align: center;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
}

.card__heading-span {
  font-size: 2.2rem;
  font-weight: 300;
  text-transform: uppercase;
  padding: 1rem 1.5rem;
  color: #fff;
}

.card__details {
  padding: 1rem 2rem;
}

.card__details ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

@media only screen and (max-width: 37.5em), only screen and (hover: none) {
  .card {
    height: auto;
    border-radius: 3px;
    background-color: #fff;
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }
  .card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }
  .card__side--front {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
  }
  .card__side--back {
    transform: rotateY(0);
  }
  .card:hover .card__side--front {
    transform: rotateY(0);
  }
  .card__details {
    padding: 3rem 2rem;
  }
  .card__theme {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0);
    width: 100%;
    padding: 5rem 4rem 1.5rem 4rem;
    text-align: right;
  }
  .card__theme-box {
    margin-bottom: 1.5rem;
  }
  .card__title {
    font-size: 4rem;
  }
} /*Fin Hover Historia y Servicios*/
.servicios {
  justify-content: center;
  align-self: center;
  text-align: center;
}

.card__details ul li {
  list-style-type: square;
  list-style-position: inside;
}

.equipo {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  justify-self: end;
  padding: 20px;
  text-align: center;
  margin-top: 8vh;
}

.equipo h2 {
  font-size: 35px;
  margin-top: 10px;
  margin-bottom: 40px;
  color: white;
}

.equipo p {
  font-size: 20px;
  font-style: italic;
  margin-bottom: 50px;
  color: white;
}

/*@medias para Nosotros - pantalla mobile*/
@media only screen and (max-width: 480px) {
  .nosotros__main__grid {
    display: block;
  }
  .card__side--front {
    display: none;
  }
  .card__heading-span {
    font-size: 1.5rem;
  }
  .equipo h2 {
    font-size: 30px;
  }
}
/*@medias Nosotros - para pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nosotros__main__grid {
    display: block;
  }
  .card__side--front {
    display: none;
  }
}
/*@medias Nosotros - pantallas grandes*/
@media screen and (min-width: 769px) and (max-width: 1200px) {
  .nosotros__main__grid {
    display: block;
  }
  .card__side--front {
    display: none;
  }
  .card__heading-span {
    font-size: 1.5rem;
  }
  .equipo .imagenes__verticales {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
/*Fin @medias nosotros*/
/*Fin Nosotros*/
/*NORTE*/
.noa__main {
  background-color: black;
}

#derecha {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

#centrado {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.san__juan {
  margin: auto;
}

/*@medias NOA - pantalla mobile*/
@media only screen and (max-width: 480px) {
  .noa__main {
    background-color: white;
  }
  #derecha {
    display: block;
  }
  #centrado {
    display: block;
  }
}
/*@medias NOA - para pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .noa__main {
    background-color: white;
  }
  #derecha {
    display: block;
  }
  #centrado {
    display: block;
  }
}
/*Fin @medias NOA*/
/*Fin NOA*/
/*LITORAL*/
.video {
  display: flex;
  justify-content: center;
  background-color: black;
  padding-top: 5vh;
  padding-bottom: 5vh;
}

video {
  border-radius: 10%;
}

/*CENTRO*/
.centro__main {
  background-color: black;
}

/*@medias CENTRO - pantalla mobile*/
@media only screen and (max-width: 480px) {
  .centro__main {
    background-color: white;
  }
}
/*@medias CENTRO - para pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .centro__main {
    background-color: white;
  }
}
/*Fin @medias CENTRO*/
/*Fin Centro*/
/*SUR*/
/*Destacado del mes*/
.animacion {
  width: 100px;
  height: 50px;
  text-align: center;
  background-color: #f7971e;
  animation-name: animacion_destino;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 3s;
  animation-delay: 1s;
}

@keyframes animacion_destino {
  0% {
    width: 150px;
  }
  0.2% {
    width: 180px;
  }
  25% {
    width: 200px;
  }
  50% {
    width: 225px;
  }
  75% {
    width: 200px;
  }
  100% {
    width: 150px;
  }
}
/*@medias Sur - pantalla mobile*/
@media only screen and (max-width: 480px) {
  .animacion {
    display: none;
  }
}
/*Fin @medias SUR*/
/*Fin SUR*/
/*Main Contacto*/
#contacto__portada {
  background-color: #4b134f;
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
}

#contacto__portada h1 {
  color: white;
}

.contacto__main {
  background: #f7971e; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd200, #f7971e); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd200, #f7971e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.formulario {
  width: 75vw;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1%;
  margin-left: 15%;
  font-family: "Gentium Plus", serif;
  color: rebeccapurple;
  font-size: 20px;
}

/*No @media needed :)*/
/*Fin Contacto*/
/*Scroll*/
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/*Borrar márgenes por default*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Borrar viñeta en listas no ordenadas*/
ul li {
  list-style-type: none;
}

/*Borrar subrayado en links*/
a {
  text-decoration: none;
}

/*Body*/
.body {
  position: relative;
}

/*Botones*/
/*Boton de "subir"*/
.boton {
  position: sticky;
  bottom: 1vh;
}

/*Header (general excepto Index*/
/*#navbar__width {                  
  width: 100vw;
  min-width: 100%;
  padding-right: 0;
  margin-right: 0;
}*/
/*Fin Header*/

/*# sourceMappingURL=style.css.map */
