/*Scroll*/
html {
    scroll-behavior: smooth;
}

/*Borrar márgenes por default*/
* {
    margin: 0;
    padding: 0;
}

/*Borrar viñeta en listas no ordenadas*/
ul li {
    list-style-type: none;
}

/*Borrar subrayado en links*/
a { 
    text-decoration: none;
}

/*Google Fonts:
font-family: 'DM Sans', sans-serif;
font-family: 'Gentium Plus', serif;
font-family: 'Shadows Into Light', cursive;*/
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Gentium+Plus&family=Shadows+Into+Light&display=swap');

/*Body*/
.body {
    position: relative;
}

/*Header*/
#header__color {
    background-color: black;
}

/*Botones*/
/*Boton de "subir"*/
.boton {
    position: sticky;
    bottom: 1vh;
}

/*Boton de suscripcion al newsletter*/
.mb-3 {
    display: flex;
    flex-direction: row;
    align-items:center;
}

/*Footer*/
.generico__footer {
    background-color: black;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.generico__footer__pie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content: center;
    width: 70%;
    padding-left: 10px;
}

.generico__footer__pie__datos {
    font-size: 10px;
    color: white;
    font-style: italic;
    line-height: 15px;
    align-self: center;
}

.generico__footer__pie__news {
    font-size: 15px;
    color: white;
    margin-left: 25%;
    align-self: center;
}

.generico__footer__iconos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:left; 
    margin-left: 80%;
}

.generico__footer__iconos__lista { 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    gap: 30px; 
    position: fixed;
    bottom: 0;
}

.generico__footer__iconos__lista img {
   border-radius: 50%;
}

/*Index*/
.body__index {
    font-family: "Playfair Display", serif;
    font-size: 50%;
    overflow-x: hidden;
}
  
  .container {
    width: 100vw;
    min-width: 100%;
    height: 93vh;
    min-height: 93%;
    position: relative;
    background: #f7971e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffd200,
      #f7971e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffd200,
      #f7971e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  
  .menu_overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    color: #fff;
    background: #c94b4b;
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);
    background: linear-gradient(to right, #4b134f, #c94b4b);
    z-index: 100;
    transform: translateX(110%);
    transition: transform 0.5s ease;
  }
  
  .menu_overlay .fas {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 1.5 rem;
    transition: all 0.3s ease;
  }

  .menu_overlay .fas:hover {
    color: #4b134f;
    transform: scale(1.1) rotate(180deg);
  }
  
  .menu_overlay ul {
    height: 100%;
    width: 100%;
    list-style: none;
    padding: 20px;
    margin-left: 100px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .regiones { 
    margin-left: 120px;
  }

  .menu_overlay a {
    color: #fff;
    text-decoration: none;
  }
  
  .menu_overlay a:hover {
    color: #c6df3c;
  }
  
  #menuBtn {
    display: none;
  }
  
  #menuBtn:checked ~ .menu_overlay {
    transform: translateX(0);
  }
  
  .landing_page {
    max-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
  }
  
  .menu {
    position: absolute;
    right: 20px;
    top: 20px;
  }
  
  .fas {
    font-size: 2rem;
    color: #222;
  }
  
  .fas:hover {
    color: #4b134f;
  }
  
  .side_text {
    height: 10vh;
    width: 60%;
    color: #c94b4b;
    position: absolute;
    left: 0px;
    bottom: 20px;
    text-shadow: 0 0 1px #111;
    padding: 10px;
    font-size: 16px;
    color: #4b134f;
  }
  
  .main_text {
    color: #c94b4b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 1px #111;
    display: flex;
    flex-direction: column;
  }
  
  .h2-r,
  .h2-l {
    font-size: 6rem;
  }
  
  .h2-r {
    transform: rotate(0deg);
    margin-left: -100px;
    z-index: 100;
  }

  .h2-l {
    margin-left: 100px;
    background-color: #4b134f;
    padding: 20px;
    z-index: 0;
  }
  
 
/*@medias para el Index - pantalla mobile*/
@media screen and (max-width: 480px) {
   .h2-r,
   .h2-l {
        font-size: 3rem;
        margin-left: 0;
        }

    .menu_overlay ul {
        margin-left: 0px;
        text-align: right;
        justify-content: center;
        align-items:flex-start;
        }

    .regiones {
        margin-left: -10px;
        line-height: 45px;
        }

   .generico__footer__pie__news {
     margin-left: 0%;
      }
    
    .generico__footer__iconos__lista { 
        gap: 0px; 
      }
}

/*@medias para Index - pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .list a {
      font-size: 2rem; /*importado de la galería*/
    }

   .h2-r {
        font-size: 4rem;
        margin-left:-50px;
   }
   .h2-l {
        font-size: 4rem;
        margin-left: 0;
        }

    .menu_overlay ul {
        margin-left: 0px;
        text-align: right;
        justify-content: center;
        align-items:flex-start;
        }

    .regiones {
        margin-left: -10px;
        line-height: 45px;
        }

   .generico__footer__pie__news {
     margin-left: 0%;
      }
    
    .generico__footer__iconos__lista { 
        gap: 0px; 
      }
}   

/*@medias Index - pantallas grandes*/
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .generico__footer__pie__news {
        margin-left: 0%;
         }
}
/*Fin @medias*/ 
/*Fin Index*/ 


/*Main Nosotros*/
#nosotros__portada {
    background-color: #4b134f;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
}

#nosotros__portada h1 {
    font-family: 'Shadows Into Light', cursive;
    color: white;
}

.nosotros__main {
    background: #f7971e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffd200,
      #f7971e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffd200,
      #f7971e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.nosotros__main__grid {
 display: grid;
    grid-template-rows: 2fr 1fr 2fr;
    grid-template-columns: 2fr 1fr;
}

.historia {
    justify-content: center;
    align-self:center;
}

/*Hover de Historia y Servicios*/
  .artboard {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    padding: 4rem;
    height: 20%;
    position: relative;
    margin-top: 5vh;
  }
  @media (max-width: 37.5em) {
    .artboard {
      padding: 1rem;
    }
  }
  
  .card {
    flex: initial;
    position: relative;
    height: 25rem;
    width: 48rem;
    -moz-perspective: 200rem;
    perspective: 200rem;
    margin: 2rem;
  }
  .card__side {
    height: 25rem;
    transition: all 2s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    /* We don't want to see the back part of the element. */
    backface-visibility: hidden;
    /* We don't want to see the back part of the element. */
    border-radius: 3px;
    overflow: hidden;
    /* The image is overflowing the parent. */
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
  }
  .card__side--front {
    background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  }
  .card__side--back {
    background-color: #fff;
    transform: rotateY(180deg);
  }
  .card:hover .card__side--back {
    transform: rotateY(0);
  }
  .card:hover .card__side--front {
    transform: rotateY(-180deg);
  }
  .card__theme {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 54%;
    width: 90%;
    text-align: center;
  }
  .card__theme-box {
    color: #fff;
    margin-bottom: 8rem;
  }

  .card__title {
    font-family: "VT323", monospace;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 100;
  }

  .card__cover {
    position: relative;
    background-size: cover;
    height: 6rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(to top right, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.65)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  }
  .card__heading {
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
  }
  .card__heading-span {
    font-family: "VT323", monospace;
    font-size: 2.2rem;
    font-weight: 300;
    text-transform: uppercase;
    padding: 1rem 1.5rem;
    color: #fff;
  }
  .card__details {
    font-family: "Inconsolata", monospace;
    padding: 1rem 2rem;
  }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
  }
 
  @media only screen and (max-width: 37.5em), only screen and (hover: none) {
    .card {
      height: auto;
      border-radius: 3px;
      background-color: #fff;
      box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    }
    .card__side {
      height: auto;
      position: relative;
      box-shadow: none;
    }
    .card__side--front {
      clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    }
    .card__side--back {
      transform: rotateY(0);
    }
    .card:hover .card__side--front {
      transform: rotateY(0);
    }
    .card__details {
      padding: 3rem 2rem;
    }
    .card__theme {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 5rem 4rem 1.5rem 4rem;
      text-align: right;
    }
    .card__theme-box {
      margin-bottom: 1.5rem;
    }
    .card__title {
      font-size: 4rem;
    }
  } /*Fin Hover Historia y Servicios*/

.servicios {
    justify-content: center;
    align-self:center;
    text-align: center;
}

.card__details ul li {
    list-style-type: square;
    list-style-position: inside;
}

.equipo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    justify-self: end;
    padding: 20px;
    text-align: center;
    margin-top: 8vh;
}

.equipo h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 40px;
    color: white;
}

.equipo p {
    font-family: 'Gentium Plus', serif;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 50px;
    color: white;
}

/*@medias para Nosotros - pantalla mobile*/
@media only screen and (max-width: 480px) {    
    .nosotros__main__grid {
        display:block;
    }

    .card__side--front {
        display: none;
    }

    .card__heading-span {
        font-size: 1.5rem;
    }

    .equipo h2 {
        font-size: 30px;
    }
}

/*@medias Nosotros - para pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .nosotros__main__grid {
        display:block;
    }

    .card__side--front {
        display: none;
    }
}

/*@medias Nosotros - pantallas grandes*/
@media screen and (min-width: 769px) and (max-width: 1200px) {
    .nosotros__main__grid {
        display:block;
    }

    .card__side--front {
        display: none;
    }

    .card__heading-span {
        font-size: 1.5rem;
    }

    .equipo .imagenes__verticales {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
/*Fin @medias*/
/*Fin Nosotros*/

/*Main Contacto*/
#contacto__portada {
    background-color: #4b134f ;
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
}

#contacto__portada h1 {
    font-family: 'Shadows Into Light', cursive;
    color: white;
}

.contacto__main {
    background: #f7971e; /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #ffd200,
      #f7971e
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to right,
      #ffd200,
      #f7971e
    ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.formulario {
    width: 75vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1%;
    margin-left: 15%;
    font-family: 'Gentium Plus', serif;
    color: rebeccapurple;
    font-size: 20px;
}
/*No @media needed :)*/
/*Fin Contacto*/

/*REGIONES*/

/*SUR*/
/*Destacado del mes*/
.animacion {
   width: 100px;
   height: 50px;
   text-align: center;
   background-color: #f7971e;
   animation-name: animacion_destino;
   animation-iteration-count: infinite;
   animation-timing-function:linear;
   animation-duration: 3s;
   animation-delay: 1s;
}

@keyframes animacion_destino {
    0%{ width: 150px; }
    0.2s{ width: 180px; }
    25%{ width: 200px; }
    50%{ width: 225px;}
    75%{ width: 200px;}
    100%{ width: 150px;}
 }

/*@medias Sur - pantalla mobile*/
@media only screen and (max-width: 480px) {
    .animacion {
        display: none;
    }
    
}
/*Fin @medias SUR*/
/*Fin SUR*/





















/*Alineacion de imagenes en sentido horizontal*/
.tres__imagenes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    ;
}

/*Alineacion de imágenes en sentido vertical*/
.imagenes__verticales {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;   
}

/*Main NOA*/
#noa__portada {
    background-image: url(imagenes/portada-noa-1.jpg);
    background-position: center;
    width: 100%;
}

.noa__main__grid {
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: 3fr 1fr;
    column-gap: 1vw;
}

.glamping {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
    margin-top: 15px;
    margin-left: 10px;
    padding: 20px 20px 30px 20px;
    text-align: center;
    background-color: rgb(235, 94, 43);
    border-radius: 15%;
    color: white;
    align-items: center;
}

.glamping h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-bottom: 20px;
}

.glamping p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

#noa__boton__especial {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.tucuman {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    justify-self: center;
    align-self:center;
    padding: 20px 20px 30px 20px;
    margin-top: 15px;
    margin-left: 10px;
    text-align: center;
    background-color: rgb(235, 94, 43);
    border-radius: 15%;
    color: white;
    align-items: center;
}

.tucuman h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-bottom: 20px
}

.tucuman p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.noa__aside { 
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
}

.noa__aside h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Main LITORAL*/
#litoral__portada {
    background-image: url(imagenes/portada-litoral-1.JPG);
    background-position: bottom;
    width: 100%;
}

.litoral__main {
    background-image: url(imagenes/litoral-fondo.jpg);
    background-repeat: no-repeat;
    background-position: top;
    object-fit: cover;
}

.misiones {
    padding: 10px;
    width: 50%;
}

.misiones h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    text-align:left;
    color: white;
}



.misiones p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: white;    
}

.ibera {
    width: 50%;
    margin-left: 50%;
    padding: 10px;
}

.ibera h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: white;
}

.ibera p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    color: white;
}

.palmar {
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'Shadows Into Light', cursive;
    line-height: 40px;
    font-size: 20px;
}

.litoral__aside h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    text-align: center;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.litoral__aside {
    background-color: black;
    text-align: center;
}

/*Main CENTRO*/   
#centro__portada {
    background-image: url(imagenes/portada-centro-1.jpg);
    background-position: center;
    width: 100%;
}

.centro__main {
    background-color: black;
    color: white;
}

.centro__main .boton {
    border-color: white;
    border-top: 0;
    border-left: 0;
    border-right: 1px solid white;
    border-bottom: 2px solid white;
    border-radius: 50%;
}

#mendoza .escribinos {
    color: white;
}

.centro__main__inicio {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 50vh;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

#mendoza {
    width: 50vw;
    padding-top: 40px; /*por el header*/
}

#mendoza h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    text-align: center;
}

#mendoza p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
}

#cordoba {
    width: 50vw;
    margin-left: 45vw;
}

#cordoba h2 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 30px;
    margin-bottom: 20px;
    padding-top: 40px; /*por el header*/
    text-align: center;
}

#cordoba p {
    font-family: 'DM Sans', sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: flex-end;
    justify-self: flex-end;
    align-items: flex-end;
    align-content: flex-end;
    align-self: flex-end;
}

.centro__aside {
    text-align: center; 
    padding-top: 20px;
}

.centro__aside h3 {
    font-family: 'Shadows Into Light', cursive;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}


/*Estilo Mobile para 480px o menos*/
@media only screen and (max-width: 480px) {
    /*Main NOA Mobile*/
    .noa__main__grid {
        display: block;
    }
    
    .glamping {
        border-radius: 10%;
    }

    .glamping h2 {
        font-size: 25px;
    }
    
    .tucuman {
        border-radius: 10%;
    }

    .tucuman h2 {
        font-size: 25px;
    }
    
    .noa__aside h3 {
        font-size: 20px;
    }

    /*Main LITORAL Mobile*/
    .litoral__main {
        background-color: rgb(13, 73, 13);
        background-image: none;
    }

    .misiones {
        width: 100%;
        padding: 15px;
    }

    .misiones h2 {
        font-size: 25px;
    }

    .misiones p {
        line-height: 25px;
        text-align: justify;   
    }

    .ibera {
        width: 100%;
        margin-left: 0;
        padding: 15px;
    }

    .ibera h2 {
        font-size: 25px;
        text-align: justify;
    }

    .ibera p {
        line-height: 25px;
        text-align: justify;
    }

    .palmar {
        line-height: 30px;
        font-size: 18px;
    }

    .litoral__aside h3 {
        font-size: 20px;
    }

    /*Main CENTRO para Mobile*/  
    .centro__main__inicio {
        font-size: 25px;
    }

    .mendoza__mobile {
        width: 40vw;
        height: 30vh;
        object-fit: cover;
    }

    .cordoba__mobile {
        width: 40vw;
        height: 30vh;
        object-fit: cover;
    }

    #mendoza {
        width: 100vw;
        padding-top: 70px; /*por el header*/
    }

    #mendoza h2 {
        font-size: 25px;
    }

    #cordoba {
        width: 100vw;
        margin-left: 0vw;
    }

    #cordoba h2 {
        font-size: 25px;
        padding-top: 90px; /*por el header*/
    }

    .centro__aside h3 {
        font-size: 20px;
    }
}