/*CENTRO*/
.flexing {
  display: flex;
  flex-direction: column;
  height: 100vh;

  @media screen and (min-width: 1000px) {
    flex-direction: row;
  }
}

.section {
  flex: 1;
  position: relative;
  transition: 0.5s ease;

  &--yellow {
    background-color: nth($colors,13);
  }

  &--pink {
    background-color: nth($colors,20);
  }

  &--green {
    background-color: nth($colors,5);
  }

  &--orange {
    background-color: nth($colors,8);
  }

  &--grey {
    background-color: nth($colors,9);
  }

  &--blue {
    background-color: nth($colors,3);
  } 

  &:hover, &:active, &:focus {
    flex: 3;

    .centro__title {
      transform: translate(-50%, -50%) rotate(0);
      
      @media screen and (min-width: 1000px) {
        transform: translate(-50%, -50%) scale(1.25);
      }
    }
  }

  .centro__title {
    font-family: "Fredoka One";
    font-size: 5rem;
    left: 50%;
    margin: 0;  
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s ease;

    a {
      color: nth($colors, 18);
    }

    @media screen and (min-width: 1000px) {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

#mendoza {
  @include flex (flex, row, wrap, space-between);
  padding: 5%;
  background-color: nth($colors, 13);

  h2{
    margin-top: 10vh;
  }
}



/*@medias CENTRO - pantalla mobile*/
@media only screen and (max-width: 480px) {
    .centro__title a {
      font-size: 2rem;
    }
}

/*@medias CENTRO - para pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .centro__title a {
    font-size: 3rem;
  }
}

/*Fin @medias CENTRO*/
/*Fin Centro*/
