/*Contacto*/
#contacto__portada {
  @extend %portada;

  h1 {
    @extend %titulo_portada;
  }
}

.contacto__main {
    background: nth($colors,13); 
    background: -webkit-linear-gradient(
      to right,
      nth($colors,14),
      nth($colors,13)
    ); 
    background: linear-gradient(
      to right,
      nth($colors,14),
      nth($colors,13)
    );
}

.formulario {
    width: 75vw;
    @include flex(flex, column, wrap, center);
    margin-top: 1%;
    margin-left: 15%;
    font-family: nth($font,4);
    color: nth($colors,21);
    font-size: 20px;
}

input::placeholder {
  color: rgb(224, 220, 220);
  font-style: italic;
}
/*No @media needed :)*/
/*Fin Contacto*/