/*Contacto*/
#contacto__portada {
  @extend %portada;

  h1 {
    @extend %titulo_portada;
  }
}

.contacto__main {
  @extend %bg_yellow;
}

.formulario {
    width: 75vw;
    @include flex(flex, column, wrap, center);
    margin-top: 1%;
    margin-left: 15%;
    color: nth($colors,21);
    font-family: map-get($map: $font_med, $key: font_lato);
    font-size: map-get($map: $font_med, $key: font_20);
}

input::placeholder {
  color: rgb(224, 220, 220);
  font-style: italic;
}
/*@media CONTACTO*/

/*Fin @media CONTACTO*/
/*Fin Contacto*/