/*LITORAL*/
.video {
    display: flex;
    justify-content: center;
    background-color: nth($colors,18);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

video {
    border-radius: 10%;
}

#entre__rios {
    @extend %provincias;
    background-image: linear-gradient(nth($colors,5), nth($colors,3));
}

#corrientes {
    @extend %provincias;
    background-image: linear-gradient(nth($colors,8), nth($colors,14));
}

#misiones {
    @extend %provincias;
    background-image: linear-gradient(nth($colors,21), nth($colors,16));
}

#santa__fe {
    @extend %provincias;
    background-image: linear-gradient(nth($colors,17), nth($colors,6));
}

#chaco {
    @extend %provincias;
    background-image: linear-gradient(nth($colors,3), nth($colors,21));
}

#formosa {
    @extend %provincias;
    background-image: linear-gradient(nth($colors,15), nth($colors,16));
}

/*@medias LITORAL*/

/*@medias PRINT*/
@media print {
    .video {
        display: none;
    }
}
/*Fin @medias LITORAL*/
/*Fin Litoral*/