/*LITORAL*/
.video {
    display: flex;
    justify-content: center;
    background-color: nth($colors,18);
    padding-top: 5vh;
    padding-bottom: 5vh;
}

video {
    border-radius: 10%;
}

#entre__rios {
    padding: 5%;
  
    h2{
      margin-top: 10vh;
    }
  }

/*@medias LITORAL*/

/*Fin @medias LITORAL*/
/*Fin Litoral*/