/*NORTE*/
.noa__main {
  background-color: nth($colors,18);
}
  
/*#derecha {
  @include flex (flex, row, wrap, end);
}
  
#centrado {
  @include flex (flex, row, wrap, center);
}*/
  
.san__juan {
  margin: auto;
}
  
.parrafo__sanjuan {
  font-family: nth($font,4); 
  font-size: 20px;
  color: black;
  background-color: nth($colors,1);
}

/*@medias NOA - pantalla mobile*/
@media only screen and (max-width: 480px) {
  .noa__main {
    background-color: map-get($screen_not_lg, bg_not_lg);
  }
  
 /* #derecha {
    display: block;
  }
  
  #centrado {
    display: block;
  }*/

  .parrafo__sanjuan {
    background-color: none;
  }
}
  
/*@medias NOA - para pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .noa__main {
    background-color: map-get($screen_not_lg, bg_not_lg);
  }
  
 /* #derecha {
    display: block;
  }
  
  #centrado {
    display: block;
  }*/

  .parrafo__sanjuan {
    background-color: none;
  }
}
/*Fin @medias NOA*/
/*Fin NOA*/