/*Nosotros*/     
#nosotros__portada {
  @extend %portada; /*extends*/

    h1 {
      @extend %titulo_portada;
    }
}

.sub__title {
  font-family: nth($font,2);
}

.nosotros__main {
    background:  nth($colors,13);
    background: -webkit-linear-gradient(
      to right,
      nth($colors,14),
      nth($colors,13)
    ); 
    background: linear-gradient(
      to right,
      nth($colors,14),
      nth($colors,13)
    );    
}

.historia {
    justify-content: center;
    align-self:center;
}

.servicios {
  justify-content: center;
  align-self:center;
}

/*Hover de Historia y Servicios*/
.artboard {
  @include flex(flex, row, wrap, center);
  align-items: center;  
  padding: 4rem;
  height: 20%;
  position: relative;
  margin-top: 5vh;
    
    @media (max-width: 37.5em) {
    .artboard {
      padding: 1rem;
    }
  }
}
  
.nosotros__card {
  flex: initial;
  position: relative;
  height: 30rem; 
  width: 48rem;
  -moz-perspective: 200rem;
  perspective: 200rem;
  margin: 2rem;

    &:hover .nosotros__card__side--back {
      transform: rotateY(0);
    }

    &:hover .nosotros__card__side--front {
      transform: rotateY(-180deg);
    }
}

.nosotros__card__side {
  height: 30rem;
  transition: all 2s ease;
  position: absolute;
  top:0px ;
  left: 0;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}

.nosotros__card__side--front {
  background-image: linear-gradient(to right bottom,  nth($colors,19), nth($colors,20)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
}

.nosotros__card__side--back {
  background-color:  nth($colors,1);
  transform: rotateY(180deg);
}

.nosotros__card__theme {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 54%;
  width: 90%;
  text-align: center;
    
    .nosotros__card__theme-box {
    color:  nth($colors,1);
    margin-bottom: 8rem;
    }
}

.nosotros__card__cover {
  position: relative;
  background-size: cover;
  height: 6rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: linear-gradient(to top right, nth($colors,19), nth($colors,20)), url(https://cdn.spacetelescope.org/archives/images/screen/heic0406a.jpg);
  
    .nosotros__card__heading {
      text-align: center;
      color: nth($colors,1);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 75%;
      
        .nosotros__card__heading-span {
        font-size: 2.2rem;
        font-weight: 300;
        padding: 1rem 1.5rem;
        color: nth($colors,1);
        }
    }
}

.nosotros__card__details {
  padding: 1rem 2rem;
  
    ul {
      list-style: none;
      width: 90%;
      margin: 0vw;

      li {
        list-style-type: square;
        list-style-position: inside;
        font-size: 25px;
      }
    }
} 
/*Fin Hover Historia y Servicios*/

.equipo {
    margin-top: 18vh;
    line-height: 10vh;
    text-align: center;
    
    h2 {
      font-size: 35px;
      margin-top: 10px;
      margin-bottom: 10px;
      color: nth($colors,1);
    }
    
    p {
      font-size: 20px;
      font-style: italic;
      margin-bottom: 50px;
      color: nth($colors,1);
    }
}

/*@medias NOSOTROS - para pantalla mobile*/
@media screen and (max-width: 480px) { 
  .nosotros__card {
    height: auto;
    border-radius: 3px;
    background-color: nth($colors,1);
    box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
    width: 80vw;
    margin-left: -10vw;
  }

  .nosotros__card__side {
    height: auto;
    position: relative;
    box-shadow: none;
  }

  .nosotros__card__side--back {
    transform: rotateY(0);
    width: 80vw;
  } 

  .nosotros__card__side--front {
    display: none;
  }

  .nosotros__card__details {
    padding: 0rem 1rem;

    ul {
      li {
        font-size: 15px;
      }
    }
  }
  
  .equipo {
    display: block;

    h2 {
      font-size: 30px;
    }

    .img__equipo {
      @include flex(flex, row, wrap, space-evenly);
    }
  } 
}

/*@medias para NOSOTROS - pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
  .nosotros__card {
    margin-left: 0vw;
    height: 60vh;
  }

  .nosotros__card__side {
    height: 60vh;
  }

  .nosotros__card__details {
    ul {
      li {
        font-size: 20px;
      }
    }
  }
}
/*Fin @medias nosotros*/
/*Fin Nosotros*/