/*SUR*/
.cards__sur {
    margin-left: 10vw;
}
/*Destacado del mes*/
.animacion {
    width: 100px;
    height: 50px;
    text-align: center;
    background-color: nth($colors,13);
    animation-name: animacion_destino;
    animation-iteration-count: infinite;
    animation-timing-function:linear;
    animation-duration: 3s;
    animation-delay: 1s;
}
 
@keyframes animacion_destino {
    0%{ width: 150px; }
    25%{ width: 200px; }
    50%{ width: 250px;}
    75%{ width: 200px;}
    100%{ width: 150px;}
}
 
/*@medias Sur - pantalla mobile*/
@media only screen and (max-width: 480px) {
    .cards__sur {
        margin-left: 15vw;
    }

    .cards__sur__centrado {
        margin-left: 10vw;
    }

    .animacion {
        display: none;
    }
}

/*@medias SUR - pantalla tablet*/
@media screen and (min-width: 481px) and (max-width: 768px) {
    .cards__sur {
        margin-left: 15vw;
    }

    .cards__sur__centrado {
        margin-left: 0vw;
    } 
}
/*Fin @medias SUR*/
/*Fin SUR*/