
.titulo_carrusel { /*Para todos los carruseles*/
    font-size: 30px;
}
  
.titulo_cards { /*Para todos los cards de provincias*/
    font-family: nth($font,3);
    font-size: 35px;
}

.ofertas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    background-color: green;
    padding: 25px;
}

.titulo_ofertas { /*Para todas las ofertas*/
    font-family: nth($font,3);
    font-size: 20px;
}

.parrafo { /*Para todos los párrafos*/
    font-family: nth($font,4); 
    font-size: 20px;
    color: black;
}

@media only screen and (max-width: 768px) {
    .parrafo {
        font-size: 15px;
    }
}

/*Botones*/ 
/*Boton de "subir"*/
.boton {
    position: sticky;
    bottom: 1vh;

    a:hover {
        border-color:lighten($color: red, $amount: 20%);
    }
}

