.conteiner__doble { /*Para margen superior en cards*/
    margin-top: 5vh;
}

.titulo_carrusel { /*Para todos los carruseles*/
    font-size: 30px;
}
  
.titulo_cards { /*Para todos los cards de provincias*/
    font-family: nth($font,3);
    font-size: 35px;
}

.parrafo { /*Para todos los párrafos*/
    font-family: nth($font,4); 
    font-size: 20px;
    color: black;
}

@media only screen and (max-width: 768px) {
    .parrafo {
        font-size: 15px;
    }
}

.titulo_ofertas__grey { /*Para ofertas sur y litoral*/
    font-family: nth($font,3);
    font-size: 2rem;
}

.ofertas__grey { /*Para ofertas sur y litoral*/
    @include flex(flex, row, wrap, space-evenly);    
    align-items:center;
    background-color: nth($colors,11);
    padding: 25px;
    color: nth($colors,1);
    width: 100vw;

    img {
        padding-top: 5px;
        width: 90%;
    }
}

/*Botones*/ 
/*Boton de "subir"*/
.boton {
    position: sticky;
    bottom: 1vh;
    
    a {
        border-color: nth($colors,16);
        background-color: nth($colors,1);

        &:hover {
            background-color: nth($colors,13);
        }
    }
}

