/*Para margen superior en cards*/
.conteiner__doble { 
    margin-top: 5vh;
}

/*Para todos los carruseles*/
.titulo_carrusel { 
    font-size: 30px;
}

/*Para todos los cards de provincias*/  
.titulo_cards { 
    font-family: map-get($map: $font_big, $key: font_dm );
    font-size: map-get($map: $font_big, $key: font_35);
}

/*Para todos los párrafos*/
.parrafo { 
    font-family: map-get($map: $font_med, $key: font_lato); 
    font-size: map-get($map: $font_med, $key: font_20);
    color: black;
}

@media only screen and (max-width: 768px) {
    .parrafo {
        font-size: 15px;
    }
}

/*Backgrounds*/
.backg_1 {
    background-color: nth($colors,5); /*verde oscuro*/
}

.backg_2 {
    background-color: nth($colors,8); /*naranja*/
}

.backg_3 {
    background-color: nth($colors,21); /*lila*/
}

.backg_4 {
    background-color: nth($colors,17); /*amarillo*/
}

.backg_5 {
    background-color: nth($colors,3); /*azul*/
}

.backg_6 {
    background-color: nth($colors,15); /*naranja colorado*/
}

.titulo__ofertas__grey { 
    font-family: nth($font,3);
    font-size: 2rem;
}

.ofertas__grey { 
    @include flex(flex, row, wrap, space-evenly);    
    align-items:center;
    background-color: nth($colors,11);
    padding: 25px;
    color: nth($colors,1);
    width: 100vw;

    img {
        padding-top: 5px;
        width: 90%;
    }
}

/*Botones*/ 
/*Boton de "subir"*/
.boton {
    position: sticky;
    bottom: 1vh;
    
    a {
        border-color: nth($colors,16);
        background-color: nth($colors,1);

        &:hover {
            background-color: nth($colors,13);
        }
    }
}

