/*Background top Nosotros y Contacto*/
%portada {
  background-color: nth($colors,16);
  width: 100%;
  height: 40vh;
  display: flex;
  align-items: center;
}

/*Title top Nosotros y Contacto*/
%titulo_portada {
  color: nth($colors,1);
  font-family: nth($font,1) ;
  margin-left: 1vw;
}

/*Background Yellow Index, Nosotros y Contacto*/
%bg_yellow {
  background:  nth($colors,13);
    background: -webkit-linear-gradient(
      to right,
      nth($colors,14),
      nth($colors,13)
    ); 
    background: linear-gradient(
      to right,
      nth($colors,14),
      nth($colors,13)
    ); 
}

/*Display Provincias individuales*/
%provincias {
  margin: 5%;
  padding: 5%;

    h2 {
      margin-top: 10vh;
    }
}