/*Footer*/
footer{
    background: nth($colors,11);

    .footer-wrap {
        padding-top: 43px;
        background-size: cover;
        
        h3 {
          color: nth($colors,1);
          font-size: 17px;
          text-transform: uppercase;
          margin-bottom: 25px;
        }
        
        p {
          font-size: 13px;
          line-height: 24px;
          color: nth($colors,7);
          margin-top: 15px;
          
            a {
                color: nth($colors,1);
                text-decoration: underline;
                font-style: italic;
            
                &:hover {
                text-decoration: none;
                color: nth($colors,8);
                }
            }
        }
        
        .first_class {
            padding-bottom: 21px;
            border-bottom: 1px solid nth($colors,10);
            
            p, h3{
                margin: 0 0;
            }
        }
    
        .second_class{
            border-bottom: 1px solid nth($colors,10);
            padding-bottom: 25px;
        }
    }

    .newsletter input[type="text"] {
        width: 100%;
        background: nth($colors,1);
        color: nth($colors,11);
        border: 1px solid nth($colors,12);
        padding: 14px 20px;
        border-radius: 50px;
        margin-top: 12px;
    }
    
    .newsletter .newsletter_submit_btn {
        background: nth($colors,1);
        position: absolute;
        right: 10%;
        border: 0;
        top: 26px;
        font-size: 17px;
        color: nth($colors,11);
    }

    .second_class_bdr{
        padding-top: 25px;
        border-top:1px solid nth($colors,12);
    }
    
    .btn-facebook a {
        padding: 6px 14px !important;
    }
    
    .btn-envelop a {
        color: nth($colors,6);
        font-size: 15px;
        padding: 12px 12px;
    }
       
    .round-btn {
        box-shadow: 2px 2px 5px 0px nth($colors,12) !important;
        margin: 15px 4px;
        
        a {
            padding: 6px 12px;
        }
    }
      
    dl, ol, ul {
        padding-left: 5px;
    }
    
    li{
        list-style: none;
    }

    .standard_social_links {
        margin-left: 14vw;
    
        .btn-facebook a {
            color: nth($colors,3);
            padding: 8px 13px;
        }
        
        .btn-instagram a{
            color: nth($colors,4);
        }
        
        .btn-whatsapp a{
            color: nth($colors,5);
        }
        
        .btn-envelop a{
            color: nth($colors,6);
            font-size: 15px; 
            padding: 9px 12px;
        }    
    }
    
    .enlace:hover:after {    
        content: "✈️";
    }
}
 
.footer-links li a {
    font-size: 13px;
    line-height: 30px;
    color: nth($colors,9);
    text-decoration: none;
}
  
.footer-links li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: nth($colors,9);
}
  
.footer-category li a {
    font-size: 13px;
    line-height: 30px;
    color: nth($colors,9);
    text-decoration: none;
}
  
.footer-category li:before {
    content: "\f105";
    font-family: 'FontAwesome';
    padding-right: 10px;
    color: nth($colors,7);
}
  
.copyright { 
    font-size: 14px;
    color: nth($colors,9);
    padding-top: 15px;
    text-align: center;
    padding-bottom: 15px;
}

.round-btn {
    display: inline;
    height: 40px; 
    width: 40px; 
    background:nth($colors,1);
    border-radius: 50%;
    float: left;
    margin: 15px 8px;
    box-shadow: 2px 2px 5px 0px nth($colors,2);
    border: 1px solid;
    
    a {
        display: block !important;
        padding: 7px 12px;
        font-size: 18px;
        border-radius: 50%;
    }
    
    .icon {
        padding: 3px;
        
        img{
            height: 24px; 
            width: 32px;
            margin-top: 6px;
        }
    }
}

.standard_header .standard_social_links {
    margin-left: 1rem;
}
  
@media(max-width:768px){
    .footer-wrap h3 {
        margin-top: 27px;}
      
    footer .round-btn {
        margin: 15px 4px;}
}
  
@media(max-width:320px){
    .copyright {
        font-size: 13px;}
} 
/*Fin @medias Footer*/
/*Fin Footer*/