/*Fonts
Google Fonts:
font-family: 'Alegreya', serif; -->Para Quienes Somos y Contacto
font-family: 'Dancing Script', cursive;  --> Para Nosotros, Servicios y Equipo
font-family: 'DM Serif Text', serif;  -->Título de cada provincia
font-family: 'Lato', sans-serif; --> textos generales y formulario de contacto*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya&family=DM+Serif+Text&family=Dancing+Script&family=Lato&display=swap');

$font:
'Alegreya', /*1*/
'Dancing Script',  /*2*/
'DM Serif Text', /*3*/
'Lato'; /*4*/


/*Colores*/
$colors:
#ffffff, /*1*/
rgb(82, 0, 67), /*2*/
#3b5998, /*3*/
#dd3f5c, /*4*/
#155E54, /*5*/
#D6403A, /*6*/
#b3b3b3, /*7*/
#ff7800, /*8*/
#ccc, /*9*/
#444, /*10*/
#333, /*11*/
#222, /*12*/
#f7971e, /*13*/
#ffd200, /*14*/
#c94b4b, /*15*/
#4b134f, /*16*/
#c6df3c, /*17*/
#111, /*18*/
rgba(30, 11, 54, 0.65),  /*19*/
rgba(202, 55, 130, 0.65), /*20*/
rebeccapurple; /*21*/






