@mixin flex($display, $direction, $wrap, $justify) {
    display: $display;
    flex-direction: $direction;
    flex-wrap: $wrap;
    justify-content: $justify;
}

@mixin noa ($border, $style, $width) {
    border-color: $border;
    border-style: $style;
    border-width: $width;
}